<!DOCTYPE html>
<html ng-app="signUpModule">
<head>
	<meta charset="utf-8" />
    <title>Sign Up Form</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="app.js"></script>
	<style>
		input.ng-invalid {border: 1px solid red;}
		input.ng-valid {border: 1px solid green;}
		.container {width:450px;}
		.error {color:red;}
	</style>
</head>
<body ng-controller="signUpController">
	<div ng-show="!visbility">
	<form class="container" name="signUp" novalidate>
		<div class="form-group">
			<label>Your Name:</label>
			<input type="text" ng-model="name" class="form-control" name="yourname" ng-minlength=3 ng-maxlength=15 required />
			<div class="error" ng-show="signUp.yourname.$dirty && signUp.yourname.$invalid">
				<small class="error" ng-show="signUp.yourname.$error.required">Your name is required.</small>
				<small class="error" ng-show="signUp.yourname.$error.minlength">Your name is required to be at least 3 characters.</small>
				<small class="error" ng-show="signUp.yourname.$error.maxlength">Your name cannot be longer than 15 characters.</small>
			</div>
		</div>
		<div class="form-group">
			<label>Username:</label>
			<input type="text" class="form-control" name="uName" ng-model="userName" ng-minlength=3 ng-maxlength=15 required>
			<div class="error" ng-show="signUp.uName.$dirty && signUp.uName.$invalid">
				<small class="error" ng-show="signUp.uName.$error.required">Username is required.</small>
				<small class="error" ng-show="signUp.uName.$error.minlength">Username is required to be at least 3 characters.</small>
				<small class="error" ng-show="signUp.uName.$error.maxlength">Username cannot be longer than 15 characters.</small>
			</div>
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input type="email" class="form-control" name="uEmail" ng-model="email" required>
			<div class="error" ng-show="signUp.uEmail.$dirty && signUp.uEmail.$invalid">
				<small class="error" ng-show="signUp.uEmail.$error.required">Email is required.</small>
				<small class="error" ng-show="signUp.uEmail.$error.email">That is not a valid email. Please input a valid email.</small>
			</div>
		</div>
		<button type="submit" ng-disabled="signUp.$invalid" ng-click="addUser()" class="btn">Sign Up</button>
	</form>
	</div>
	<div class="container" ng-show="visbility">
		<h3>{{message}}</h3>
		<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Email</th>
			</tr>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.name}}</td>
				<td>{{contact.username}}</td>
				<td>{{contact.email}}</td>
			</tr>
		</table>
		<span><a href="#" ng-click="logOut()">back to sign up form</a></span>
	</div>
</body>
</html>
